---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution?appid=63fca8ba7fe1a4df584d3ca19e3cbd37&lat=12.9767936&lon=77.590082
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":77.5901,"lat":12.9768},"list":[{"main":{"aqi":1},"components":{"co":487.33,"no":0.07,"no2":16.45,"o3":19.31,"so2":10.49,"pm2_5":8.78,"pm10":10.66,"nh3":2.85},"dt":1701220574}]}'
  recorded_at: Wed, 29 Nov 2023 01:16:15 GMT
recorded_with: VCR 6.2.0
