---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution/history?appid=63fca8ba7fe1a4df584d3ca19e3cbd37&end=1669688719&lat=12.9767936&lon=77.590082&start=1669685119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":77.5901,"lat":12.9768},"list":[{"main":{"aqi":5},"components":{"co":827.79,"no":0.12,"no2":25.02,"o3":70.1,"so2":15.74,"pm2_5":51.63,"pm10":55.71,"nh3":1.76},"dt":1669687200}]}'
  recorded_at: Wed, 29 Nov 2023 01:29:10 GMT
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/air_pollution/history?appid=63fca8ba7fe1a4df584d3ca19e3cbd37&end=1701138319&lat=12.9767936&lon=77.590082&start=1701134719
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":77.5901,"lat":12.9768},"list":[{"main":{"aqi":2},"components":{"co":600.82,"no":0.95,"no2":24.68,"o3":14.31,"so2":12.64,"pm2_5":14.03,"pm10":17.25,"nh3":2.85},"dt":1701136800}]}'
  recorded_at: Wed, 29 Nov 2023 01:29:27 GMT
recorded_with: VCR 6.2.0
